In [1]:
from sentence_transformers import SentenceTransformer

c:\Users\High-Tech\Downloads\Resume project rocky bot\codebasicllmr\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

In [4]:
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [5]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [6]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)

In [7]:
vectors.shape

(8, 768)

In [8]:
dim=vectors.shape[1]
dim

768

In [9]:
import faiss
index=faiss.IndexFlatL2(dim)

In [10]:
index.add(vectors)

In [11]:
index

In [13]:
search_query="i want to buy a puma shirt"

vec=encoder.encode(search_query)
vec.shape

(768,)

In [15]:
import numpy as np
svec=np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

In [17]:
distance,I=index.search(svec ,k=2)

In [18]:
I

array([[2, 3]], dtype=int64)

In [19]:
df.iloc[I[0]]

                                                text category
2  These are the latest fashion trends for this week  Fashion
3  Vibrant color jeans for male are becoming a trend  Fashion